.header {
  min-height: 50px;
  width: 100%;
  background-color: $main-color;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 20px;

  .logo {
    height: 50px;
    img {
      height: 100%;
    }
  }

  .signout {
    display: flex;
    align-items: center;
  }

  @media (max-width: $breakpoint) {
    flex-direction: column;
    align-items: center;

    .signout {
      .pv-button {
        margin-bottom: 10px;
      }
    }
  }
}

.content {
  max-width: $breakpoint;
  width: 100%;
  margin: 0 auto;
  padding: 20px;

  &[disabled] {
    opacity: 0.4;
  }
}

.signin-warning {
  color: $primary-button-color;
  text-align: center;
}

.pv-input {
  font-size: 18px;
  padding: 5px 10px;
  border-radius: $border-radius;
  border: 1px solid $input-border-color;
  width: 200px;
}

.pv-button {
  font-size: 18px;
  padding: 5px 10px;
  border: 1px solid $primary-button-color;
  border-radius: $border-radius;
  background-color: $primary-button-color;
  color: $main-color;
  cursor: pointer;
  transition: all .1s ease-in;

  &[disabled] {
    opacity: 0.6;
    cursor: not-allowed;
  }

  &:hover, &:focus, &:active {
    background-color: $main-color;
    color: $primary-button-color;
  }

  &--inverted {
    background-color: $white-color;
    color: $text-color;

    &:hover, &:focus, &:active {
      background-color: $primary-button-color;
      color: $text-color;
    }
  }
}
